frontend/node_modules
frontend/.eslintrc.cjs
frontend/.env

backend/node_modules
backend/config/.env


range-server/node_modules
range-server/config/.env

infrastructure/CI/terraform/.terraform
infrastructure/CI/terraform/*.tfstate
infrastructure/CI/terraform/*.tfstate.backup
infrastructure/CI/terraform/la_clef_private.pem
infrastructure/CI/terraform/dns_instance_jenkins.txt
infrastructure/CI/terraform/dns_instance_sonarqube.txt
infrastructure/CI/terraform/ip_jenkins_server.txt
infrastructure/CI/terraform/ip_sonarQube_server.txt
infrastructure/CI/terraform/group_name_jenkins_SG.txt
infrastructure/CI/terraform/group_name_sonarQube_SG.txt


infrastructure/CD/terraform/.terraform
infrastructure/CD/terraform/*.tfstate
infrastructure/CD/terraform/*.tfstate.backup
infrastructure/CD/terraform/private_key.pem
infrastructure/CD/terraform/dns_master.txt
infrastructure/CD/terraform/dns_node1.txt
infrastructure/CD/terraform/dns_node2.txt
infrastructure/CD/terraform/sg_kubernetes_name.txt