frontend/node_modules
frontend/.eslintrc.cjs

backend/node_modules
backend/config/.env


range-server/node_modules
range-server/config/.env

infrastructure/CI/terraform/.terraform
infrastructure/CI/terraform/*.tfstate
infrastructure/CI/terraform/*.tfstate.backup
infrastructure/CI/terraform/la_clef_private.pem
infrastructure/CI/terraform/dns_instance_jenkins.txt
infrastructure/CI/terraform/dns_instance_sonarqube.txt


infrastructure/CD/terraform/.terraform
infrastructure/CD/terraform/*.tfstate
infrastructure/CD/terraform/*.tfstate.backup