.outer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 3rem;
    /* height: 100vh; */
}
.dashboard-container {
    display: flex;
    flex-direction: row;
    max-width: 1286px;
    flex-grow: 1;
    padding: 0 3rem;
    gap: 2rem;

}
.dashboard-left{
    padding-top: 1rem;
    min-width: 500px;
    flex-grow: 1;
    
}

.dashboard-right {
    padding-top: 3.4rem;
    max-width: 400px;
    min-width: 220px;
    flex-grow: 1;
    
}
.separator {
    height: 3px;
    margin-top: 10rem;
    background-color: grey;
}