.outer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}
.dashboard-container {
    display: flex;
    flex: 0 1 1286px;
    padding: 0 3rem;
    gap: 1rem;

}
.dashboard-left{
    padding-top: 1rem;
    min-width: 340px;
    flex-grow: 1;
    
}

.dashboard-right {
    padding-top: 2.95rem;
    max-width: 400px;
    min-width: 220px;
    flex-grow: 1;
}
/* .separator {
    height: 3px;
    background-color: grey;
    margin-top: 2rem;
} */