.reducer-container {
    font-size: 1.3rem;
    font-family: inherit;
    display: flex;
    flex-direction: column;
}

.reducer-random {
    height: 50px;
    margin-bottom: 2rem;
}

.reducer-form {
    display: flex;
    height: 100%;
    margin-top: 0.5rem;
}

#reducer-input {
    font-size: 1.3rem;
    padding-left: 1.5rem;
    flex: 200px 1 1;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 2px solid var(--main-color);
    font-family: inherit;
    
}

#reducer-input:focus {
    outline: none;
    border: 2px solid var(--second-color);
}

.reducer-custom {
    height: 50px;
    margin-top: 1rem;
}

.reducer-custom-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.custom-input {
    font-size: 1.3rem;
    padding-left: 1.5rem;
    flex: 50px 1 1;
    border-radius: 10px;
    border: 2px solid var(--main-color);
    margin: 1rem 0;
    outline: none;
    font-family: inherit;
}

.custom-input:focus {
    border: 2px solid var(--second-color);
}

.reducer-button {
    border-radius: 10px;
    height: 50px;
    font-size: 1.3rem;
    background-color: var(--main-color);
    color: #fff;
    width: 100%;
    border: none;
    transition: background-color 0.3s ease, transform 0.1s ease;
    font-family: inherit;
    cursor: pointer;
}

.reducer-button:hover {
    background-color: var(--second-color);
}

.reducer-button:active {
    transform: scale(0.95);
}
