.nav-container {
    width: 100vw;
    background: var(--main-color);
    box-shadow: var(--shadow);
    display: flex;
    justify-content: center;
}
.nav {
    font-size: 18px;
    max-width: 1286px;
    background: var(--main-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1286px 0 1;
    padding: 0 3rem;

}

.site-title {
    font-size: 2rem;
    color: var(--nav-color-text);
    font-weight: bold;
}

.nav > ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    padding: 0.4rem;
}

.nav > a,
.nav > ul > li > a {
    color: var(--nav-color-text);
    text-decoration: none;
    padding: 0.5rem;
    font-weight: 600;
}

.nav > ul > li > a:hover {
    border-radius: var(--border-radius-profile);
    background-color: var(--second-color);
    padding: 0.5rem;
}
