.footer {
    background-color: var(--main-color);
    padding: 40px;
    text-align: center;
    margin-top: 40px;
}
  
.footer-reserved {
    margin: 5px 0;
    color: #fff;
}


.footer-social-links {
    margin-top : 1rem;
}

.footer-social-links > a {
    color: #fff;
    text-decoration: none;
}

.footer-x {
    margin-right: 2rem;
}


.footer-social-links .fa-brands {
    margin-right: 0.5rem;
}

.footer-social-links > a:hover {
    color: var(--second-color);
}