.reducer-container {
    font-size: 1.3rem;
    font-family: inherit;
}

.reducer-form {
    display: flex;
    flex-direction: column;
}

.reducer-random {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

#reducer-input {
    height: 50px;
    font-size: 1.3rem;
    padding-left: 1.5rem;
    /* flex: 200px 1 0; */
    border-radius: 10px;
    border: 2px solid var(--main-color);
    font-family: inherit;
    
}

#reducer-input:focus {
    outline: none;
    border: 2px solid var(--second-color);
}

.reducer-custom {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
}

.reducer-custom-form {
    display: flex;
    flex-direction: column;
}

.custom-input {
    font-size: 1.3rem;
    padding-left: 1.5rem;
    border-radius: 10px;
    border: 2px solid var(--main-color);
    outline: none;
    font-family: inherit;
    margin-bottom: 1rem;
    height: 50px;
}

.custom-input:focus {
    border: 2px solid var(--second-color);
}

.reducer-button {
    border-radius: 10px;
    height: 50px;
    font-size: 1.3rem;
    background-color: var(--main-color);
    color: #fff;
    width: 100%;
    border: none;
    transition: background-color 0.3s ease, transform 0.1s ease;
    font-family: inherit;
    cursor: pointer;
}

.reducer-button:hover {
    background-color: var(--second-color);
}

.reducer-button:active {
    transform: scale(0.95);
}

.separator {
    height: 3px;
    background-color: grey;
}

.separator.notif {
    margin-top: 2rem;
}